body{
    background-image: url(img/sky.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
ul{
    display: none;
  }
input:checked  ~ ul{
    display:flex;
    position: relative;
  }
input {
    display: none;
   }
label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: no
}
a{
    
    display: block;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
  }
.Contenedor{
    margin-top: 20em;
}
.Nube1{
    margin-left:  -20vw;
    animation-name:  NubeP;
    animation-duration: 10s;
    position: relative;
    animation-iteration-count: infinite;
}
.Nube2{
    margin-left: -20vw;
    animation-name: NubeS;
    animation-duration: 15s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes NubeP{
    100%{
        margin-left: 110vw;
    }
}

@keyframes NubeS{
    100%{
        margin-left:  130vw;
    }
}