@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.Menu{
    width: 1080px;
    height: 1920px;
    background-color: #2c2b47;
    margin: auto;
}
.Menu .home{
    width: 1080px;
    height: 70px;
    position: relative;
    left: -3px;
    position: relative;
    left: 50px;
    top: 50px;
    display: flex;
}
.Menu .home h1{
    color: #ff702a;
    font-weight:500;
}
.Menu .home p{
    color: white;
    margin-left: 40px;
    position: relative;
    left: 400px;
}
