body{
    background-color: red;
}
body h3{
    color: blue;
    padding: 0.5em;
}
.Container{
    margin: 2em auto;
    width: 35em;
}
.WhatHt, .WhatCs, .WhatJa, .WhatRe, .WhatNo{
    background-color: white;
    width: 35em;
    height: 3em;
    margin-bottom: 1em;
    transition: all 300ms ease;
}
.WhatHt p{
    display: none;
}
input{
    display: none;
}
input:checked~.WhatHt{
    height: 8em;
}
input:checked~.WhatHt p{
    display: block;
}
.WhatCs p{
    display: none;
}
input:checked~.WhatCs{
    height: 8em;
}
input:checked~.WhatCs p{
    display: block;
}
.WhatJa p{
    display: none;
}
input:checked~.WhatJa{
    height: 8em;
}
input:checked~.WhatJa p{
    display: block;
}
.WhatRe p{
    display: none;
}
input:checked~.WhatRe{
    height: 8em;
}
input:checked~.WhatRe p{
    display: block;
}
.WhatNo p{
    display: none;
}
input:checked~.WhatNo{
    height: 8em;
}
input:checked~.WhatNo p{
    display: block;
}