body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    overflow: hidde;
}
.contenedor .top{
    padding-top: 1vh;
    width:100vw;
    height: 5.5vh;
    position: absolute;
    left: 5.8vh;
    background-color: white;
}
.top .user{
    position: absolute;
    left: 92vw;
}
.contenedor .left{
    padding-top: 1vh;
    width: 5.5vh;
    height: 100vh;
    background-color: white;
}
.left .carita{
    position: absolute;
    left: 1.5vh;
}
.center{
    position: absolute;
    left: 9vh;
    bottom: 40vh;
}
.title{
    font-size: 2vh;
    
}
.home{
    display:flex;
}
.home a{
    position: relative;
    bottom: 2vh;
    padding: 2px;
}
.conjunto{
    display: flex;
}
.caja1, .caja2, .caja3, .caja4{
    width: 21.5vw;
    height: 15vh;
    padding-left: 1.5vw;
    background-color: white;
    margin-right: 1vh;
    margin-top: 2vh; 
    border-radius: 10px;
    line-height: 5px;
}

.report{
    background-color: white;
    width: 92.5vw;
    height: 17vh;
    margin-top: 3vh;
    border-radius: 10px;
    padding-top: 1vh;
    padding-left: 2vh;
}
