body{
    background-color: #f9e4c9;
    text-align: center;
}
nav{
    display: flex;
}
ul{
    display: none;
  }
input:checked  ~ ul{
    display:flex;
    position: relative;
    justify-content: center;
  }
input {
    display: none;
   }
label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: no
}
a{
    display: block;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: all 300ms ease;
  }

.Contenedor{
    display: flex;
    justify-content: center;
    animation-name: CajaF;
    animation-duration: 10s;

}
.robot{
    width: 4em;
    height: 2em;
    display: inline-block;
    position: relative;
    top: -1.7em;
}
.robot img{
    padding: 0.5em;
    background-color: white;
    border-radius: 50%;
    box-shadow:  1px 1px 10px  black;
}
.CajaT{
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Caja{
    position: relative;
    top: 3em;
    width: 25em;
    height: 14em;
    background-color: white;
}
.Caja h2{
    color: #f091a0;
}
.Caja p{
    color: gray;
}
.Caja a{
    position: relative;
    top: 1em;
    text-decoration: none;
    color: white;
    background-color: #009ab1;
    padding: 0.5em 1em;
    width: 15em;
    top: -0.2em;
    left: 3.6em;
}
.Caja a:hover{
    background-color: #f34e60;
}
@keyframes CajaF{
    0%{
        margin-top: 20%;
    }
    10%{
        margin-top: -2%;
    }
    15%{
        margin-top: 10%;
    }
    20%{
        margin-top: 0%;
    }
}