body{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    background:#2c333a;
}
ul{
    display: none;
  }
input:checked  ~ ul{
    display:flex;
    position: relative;
}
input {
    display: none;
   }
label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: no
}
a{
    
    display: block;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
  }
.Contenedor{
    font-size: 5em;
    display: flex;
    justify-content: center;
}
.Contenedor .Uno{
    animation-name:  U;
    height: 2em;
    animation-duration:  7s;
    transform:  rotateX(-180deg);
    color: #80bfb2;
}
.Contenedor .Dos{
    animation-name:  P;
    height: 2em;
    animation-duration:  7s;
    animation-delay: 1s;
    transform:  rotateX(180deg);
    color: #8898a2;
}
.Contenedor .Tres{
    animation-name: Y;
    height: 2em;
    animation-duration:  7s;
    animation-delay: 2s;
    transform:  rotateX(180deg);
    color: #80bfb2;
}
.Contenedor .Cuatro{
    animation-name:  O;
    height: 2em;
    animation-duration:  7s;
    animation-delay: 3s;
    transform:  rotateX(180deg);
    color: #8898a2;
}
.Contenedor .Cinco{
    animation-name:  V;
    height: 2em;
    animation-duration:  7s;
    animation-delay: 4s;
    transform:  rotateX(180deg);
    color: #80bfb2;
}
.Contenedor .Seis{
    animation-name:  E;
    height: 2em;
    animation-duration:  7s;
    animation-delay: 5s;
    transform:  rotateX(180deg);
    color: #8898a2;
}
.Contenedor .Siete{
    animation-name:  R;
    height: 2em;
    animation-duration:  7s;
    animation-delay: 6s;
    transform:  rotateX(180deg);
    color: #80bfb2;
}


@keyframes U{
    20%{
        transform:  rotateX(85deg);

    }
    50%{
        transform: rotateX(0deg);
    }
    70%{
        transform:  rotateX(180deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}
@keyframes P{
    20%{
        transform:  rotateX(85deg);

    }
    50%{
        transform: rotateX(0deg);
    }
    70%{
        transform:  rotateX(180deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}
@keyframes Y{
    20%{
        transform:  rotateX(85deg);

    }
    50%{
        transform: rotateX(0deg);
    }
    70%{
        transform:  rotateX(180deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}
@keyframes O{
    20%{
        transform:  rotateX(85deg);

    }
    50%{
        transform: rotateX(0deg);
    }
    70%{
        transform:  rotateX(180deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}
@keyframes V{
    20%{
        transform:  rotateX(85deg);

    }
    50%{
        transform: rotateX(0deg);
    }
    70%{
        transform:  rotateX(180deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}
@keyframes E{
    20%{
        transform:  rotateX(85deg);

    }
    50%{
        transform: rotateX(0deg);
    }
    70%{
        transform:  rotateX(180deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}
@keyframes R{
    0%{
        transform:  rotateX(85deg);

    }
    50%{
        transform: rotateX(0deg);
    }
    70%{
        transform:  rotateX(180deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}