.Container{
    width: 30em;
    margin: 0 auto;
    margin-top: 10em;
}
.Caja{
    width: 30em;
    height: 30em;
    border-radius: 2em;
    box-shadow: 1px 1px 40px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Circulo{
    width: 24em;
    height: 24em;
    border-radius: 50%;
    background-color: #1faaf7;
}