html{
    height: 100%;
}
body{
    background: rgb(128,128,128);
    background: linear-gradient(0deg, rgba(128,128,128,1) 33%, rgba(255,255,255,1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 300ms;
}
.Contenedor{
    position: relative;
    margin: auto;
    width: 1400px;
    height: 800px;
    background-color: #FFFFFF;
    top: 140px;
}
.Linea{
    position: relative;
    height: 802px;
    width: 110px;
    background-color: #212020;
    left: 1290px;
    bottom: 427px;
}
.Linea .uno{
    position: relative;
    left: 45px;
    bottom: -40px;
    height: 13.5px;
    width: 23.62px;
}
.Linea .dos{
    position: relative;
    left: 15px;
    top: 750px;
    height: 13.5px;
    width: 23.62px;
}
.Linea .tres{
    position: relative;
    top: 300px;
    right: -20px;
}
.Linea p{
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
    bottom: 70px;
}
.Contenido{
    position: relative;
    height: 100px;
    width: 1400px;
    top: 43px;
    left: 43px;
}
.Contenido .uno{
    font-size: 30px;
    position: relative;
    left: 533px;
    bottom: 26px;
    color: black;
    text-decoration: none;
}
.Contenido .dos{
    font-size: 30px;
    position: relative;
    left: 972px;
    bottom: 95px;
    color: black;
    
}
.Contenido .Busqueda{
    position: relative;
    left: 1100px;
    bottom: 155px;
    width: 27px;
    height: 27px;
}
.Contenido .Compra{
    position: relative;
    left: 1150px;
    bottom: 155px;
    width: 27px;
    height: 27px;
}
.Contenido img{
    height: 44px;
    width: 196px;
}
.Contenido h1{
    position: relative;
    font-weight: bold;
    left: 974px;
    bottom: 200px;
}
.Cuadrito{
    position: relative;
    bottom: 580px;
    left: 1100px;
    width: 160px;
    height: 114px;
    background-color: #D5FF43;
    border-radius: 10px;
    transition: all 300ms;
}
.Cuadrito:hover{
    transform: scale(1.1);
}
.Cuadrito img{
    position: relative;
    top: 20px;
    left: 20px;
    width: 129px;
    height: 29px;
}
.Cuadrito p{
    position: relative;
    font-size: 26px;
    left: 30px;
    font-weight: bold;
}
.saldo{
    position: relative;
    bottom: 900px;
    text-align: center;
}
.saldo h1{
    font-size: 40px;
}
.saldo p{
    font-size: 27px;
    font-weight: bold;
}
.saldo .Entrada{
    border-radius: 10px;
    width: 288px;
    height: 58px;
    text-align: center;
    font-size: 30px;
    border: 0.5px solid gray;
}
.Tarjeta{
    position: relative;
    left: 435px;
    height: 320px;
    width: 530px;
}
