.Contenedor{
    margin-left: 30vw;
}
.Contenedor .Uno{
    position: absolute;
    animation-name: Primer;
    animation-duration: 10s;
    animation-delay: 0.1;
    opacity: 0;
    animation-iteration-count: infinite;
}
.Contenedor .Dos{
    position: absolute;
    animation-name: Dos;
    animation-duration: 10s;
    animation-delay:  0.2s;
    opacity: 0;
    animation-iteration-count: infinite;
}
.Contenedor .Tres{
    position: absolute;
    animation-name: Tres;
    animation-duration: 10s;
    animation-delay:  0.3s;
    opacity: 0;
    animation-iteration-count: infinite;
}
.Contenedor .Cuatro{
    position: absolute;
    position: absolute;
    animation-name: Cuatro;
    animation-duration: 10s;
    animation-delay:  0.4s;
    opacity: 0;
    animation-iteration-count: infinite;
}
.Contenedor .Cinco{
    position: absolute;
    position: absolute;
    animation-name: Cinco;
    animation-duration: 10s;
    animation-delay:  0.5s;
    opacity: 0;
    animation-iteration-count: infinite;
}
.Contenedor .Seis{
    position: absolute;
    position: absolute;
    animation-name: Seis;
    animation-duration: 10s;
    animation-delay:  0.6s;
    opacity: 0;
    animation-iteration-count: infinite;
}
.Contenedor .Siete{
    position: absolute;
    position: absolute;
    animation-name: Siete;
    animation-duration: 10s;
    animation-delay:  0.7s;
    opacity: 0;
    animation-iteration-count: infinite;
}
.Contenedor .Ocho{
    position: absolute;
    position: absolute;
    animation-name: Ocho;
    animation-duration: 10s;
    animation-delay:  0.8s;
    opacity: 0;
    animation-iteration-count: infinite;
}
.Contenedor .Nueve{
    position: absolute;
    position: absolute;
    animation-name: Nueve;
    animation-duration: 10s;
    animation-delay:  0.9s;
    opacity: 0;
    animation-iteration-count: infinite;
}
.Contenedor .Diez{
    position: absolute;
    position: absolute;
    animation-name: Diez;
    animation-duration: 10s;
    animation-delay:  1s;
    opacity: 0;
    animation-iteration-count: infinite;
}
@keyframes Primer{
    0%{
        opacity: 1;
    }
}
@keyframes Dos{
    0%{
        opacity: 1;
    }
}
@keyframes Tres{
    0%{
        opacity: 1;
    }
}
@keyframes Cuatro{
    0%{
        opacity: 1;
    }
}
@keyframes Cinco{
    0%{
        opacity: 1;
    }
}
@keyframes Seis{
    0%{
        opacity: 1;
    }
}
@keyframes Siete{
    0%{
        opacity: 1;
    }
}
@keyframes Ocho{
    0%{
        opacity: 1;
    }
}
@keyframes Nueve{
    0%{
        opacity: 1;
    }
}
@keyframes Diez{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}